
header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
}

.sidebar {
    background-color: green;
    color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 72px;
}

body{
    height: 3000px;
    padding-top: 60px;
    padding-left: 80px;
}
.Div01 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
}

.Div02 {
    background-color: lightpink;
    width: 200px;
    height: 200px;
}