
header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    /* z-index: 100; */
}

.sidebar {
    background-color: green;
    color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 72px;
    
}

.absolute {
    background-color: bisque;
    position: absolute;
    color: white;
    /* left: 10px; */
    right: 10px;
    top: 60px;
    /* z-index: index 2000; */
}

.absolute-01 {
    background-color: rgb(205, 126, 29);
    position: absolute;
    color: white;
    right: 0;
    top: 0;
}

body{
    height: 3000px;
    padding-top: 60px;
    padding-left: 80px;
}
.Div01 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
}

.Div02 {
    background-color: lightpink;
    width: 200px;
    height: 200px;
    position: relative;
}

.absolute-03 {
    background-color: rgb(205, 126, 29);
    position: absolute;
    color: white;
    right: 10px;
    bottom: 10px;
}