*{
    font-family: 'roboto', 'arial';
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
header {
    margin-bottom: 30px;
}
.header{
    height: 55px;
    background-color:#EFE0CE ;
    display: flex;
    flex-direction: row;
    /* align-items: center; */ 
    justify-content: space-between;
   
}

.left-section {
    /* background-color: lightblue;  */
    /* width: 150px; */
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px; 
}

.middle-section {
    background-color: rgb(217, 101, 118);
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-button {
    height: 40px;
    width: 60px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
}

.right-section {
    background-color: lightblue ;
    width: 200px;
}

