*{
    font-family: 'roboto', 'arial';
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
header {
    margin-bottom: 30px;
}
.header{
    height: 55px;
    background-color:#EFE0CE ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.left-section {
    background-color: lightblue; 
    width: 150px;
}

.middle-section {
    background-color: rgb(217, 101, 118);
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
}

.right-section {
    background-color: lightblue ;
    width: 200px;
}

